

.tab--wrapper-container {

  /* margin-left: auto;
  margin-right: auto;
  padding: 60px 15px; */

  .content {

    .tab-nav {
      position: relative;
      height: 70px;
      overflow-y: hidden;

      @media (max-width: 687px) {
        margin: 0 -15px;
      }

      .tab-selection {
        position: relative;
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 90px;

        & > div {
          display: inline-block;
          transition: all .3s ease;
          position: absolute;
          left: 0;
          width: 100%;

          @media (max-width: 576px) {
            height: 60px;
          }

          @media (min-width: 577px) {
            height: 64px;
          }

          @media (max-width: 687px) {
            &.left {
              left: -35%;
            }
          }

          ul {
            padding: 0;
            overflow: auto;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;

            li {
              display: inline-block;
              float: left;
              position: relative;
              cursor: pointer;
              width: min-content;
              text-align: center;

              span {
                padding: 15px 20px;
                display: block;

                @media (min-width: 614px) {
                  display: flex;
                  align-items: center;

                }
              }
            }

            .slide-cntrl {
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 99;

              &.overall-gradient-float{
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 4%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 77%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%);
              }

              &.left-gradient-float{
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 26%, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 100%);
              }

              &.right-gradient-float{
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 49%, rgba(255,255,255,0) 77%, rgba(255,255,255,1) 96%, rgba(255,255,255,1) 100%);
              }

              @media (min-width: 688px) {
                display: none !important;
              }

              .slide-cntrl-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 30px;
                padding: 0px;
                height: 30px;
                width: 30px;

                &.btn-prev {
                  display: none;
                  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227%22%20height%3D%2210%22%20viewBox%3D%220%200%207%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.16667L1.21082%200L6.40002%205L1.21082%2010L0%208.83333L3.97839%205L0%201.16667Z%22%20transform%3D%22translate%286.3999%2010%29%20rotate%28180%29%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A") center no-repeat #555;
                  left: 10px;
                }

                &.btn-next {
                  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227%22%20height%3D%2210%22%20viewBox%3D%220%200%207%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.16667L1.21082%200L6.40002%205L1.21082%2010L0%208.83333L3.97839%205L0%201.16667Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A") center no-repeat #555;
                  right: 10px;
                }
              }
            }
          }



          &.underline-item {
            overflow: visible;
            position: absolute;
            padding: 0 15px 0 0;

            ul {

              li {
                margin-bottom: -2px;

                span {
                  border-bottom: 2px #e5e5e5 solid;
                  color: #777;
                }

                &.active {
                  span {
                    border-bottom: 2px #4F7D50 solid;
                    color: #4F7D50;

                    @media (max-width: 414px) {
                      font-weight: 700;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }

    .tabbed-content {
      position: relative;
      top: 50px;
      transition: top .5s ease;
      padding-left: 15px;
      padding-right: 15px;
      display: none;

      &.active-tab {
        animation-name: contentMove;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in;
        display: block;
      }

      @keyframes contentMove {
        from {
          top: 50px;
          opacity: 0;
        }

        to {
          top: 0;
          opacity: 1;
        }
      }

      .subcontent {

        @media (min-width: 688px) {
          padding: 10px 10px;
        }

        @media (max-width: 687px) {body {
  margin: 0;
  padding: 0;
  font-family: Open sans, sans-serif;
}

.tab--wrapper-container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  /* padding: 60px 15px; */

  .content {
    .tab-nav {
      position: relative;
      height: 70px;
      overflow-y: hidden;

      @media (max-width: 687px) {
        margin: 0 -15px;
      }

      .tab-selection {
        position: relative;
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        height: 90px;

        & > div {
          display: inline-block;
          transition: all 0.3s ease;
          position: absolute;
          left: 0;
          width: 100%;

          @media (max-width: 576px) {
            height: 60px;
          }

          @media (min-width: 577px) {
            height: 64px;
          }

          @media (max-width: 687px) {
            &.left {
              left: -35%;
            }
          }

          ul {
            padding: 0;
            overflow: auto;
            display: flex;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;

            li {
              display: inline-block;
              float: left;
              position: relative;
              cursor: pointer;
              width: min-content;
              text-align: center;

              span {
                padding: 15px 20px;
                display: block;

                @media (min-width: 614px) {
                  display: flex;
                  align-items: center;
                }
              }
            }

            .slide-cntrl {
              position: absolute;
              height: 100%;
              width: 100%;
              z-index: 99;

              &.overall-gradient-float {
                background: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 1) 4%,
                  rgba(255, 255, 255, 0) 25%,
                  rgba(255, 255, 255, 0) 49%,
                  rgba(255, 255, 255, 0) 77%,
                  rgba(255, 255, 255, 1) 96%,
                  rgba(255, 255, 255, 1) 100%
                );
              }

              &.left-gradient-float {
                background: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 1) 5%,
                  rgba(255, 255, 255, 0) 26%,
                  rgba(255, 255, 255, 0) 49%,
                  rgba(255, 255, 255, 0) 100%
                );
              }

              &.right-gradient-float {
                background: linear-gradient(
                  to right,
                  rgba(255, 255, 255, 0) 0%,
                  rgba(255, 255, 255, 0) 49%,
                  rgba(255, 255, 255, 0) 77%,
                  rgba(255, 255, 255, 1) 96%,
                  rgba(255, 255, 255, 1) 100%
                );
              }

              @media (min-width: 688px) {
                display: none !important;
              }

              .slide-cntrl-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 30px;
                padding: 0px;
                height: 30px;
                width: 30px;

                &.btn-prev {
                  display: none;
                  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227%22%20height%3D%2210%22%20viewBox%3D%220%200%207%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.16667L1.21082%200L6.40002%205L1.21082%2010L0%208.83333L3.97839%205L0%201.16667Z%22%20transform%3D%22translate%286.3999%2010%29%20rotate%28180%29%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A")
                    center no-repeat #555;
                  left: 10px;
                }

                &.btn-next {
                  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%227%22%20height%3D%2210%22%20viewBox%3D%220%200%207%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0%201.16667L1.21082%200L6.40002%205L1.21082%2010L0%208.83333L3.97839%205L0%201.16667Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A")
                    center no-repeat #555;
                  right: 10px;
                }
              }
            }
          }

          &.underline-item {
            overflow: visible;
            position: absolute;

            ul {
              li {
                margin-bottom: -2px;

                span {
                  border-bottom: 2px #e5e5e5 solid;
                  color: #777;
                }

                &.active {
                  span {
                    border-bottom: 2px #4F7D50 solid;
                    color: #4F7D50;

                    @media (max-width: 414px) {
                      font-weight: 700;
                    }
                  }


                }
              }
            }
          }
        }
      }
    }

    .tabbed-content {
      position: relative;
      top: 50px;
      transition: top 0.5s ease;
      padding-left: 15px;
      padding-right: 15px;
      display: none;

      &.active-tab {
        animation-name: contentMove;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in;
        display: block;
      }

      @keyframes contentMove {
        from {
          top: 50px;
          opacity: 0;
        }

        to {
          top: 0;
          opacity: 1;
        }
      }

      .subcontent {
        @media (min-width: 688px) {
          /* padding: 50px 30px; */
        }

        @media (max-width: 687px) {
          /* padding: 30px 0; */
        }

        h5 {
          &::before {
            content: "";
            display: inline-block;
            height: 24px;
            width: 24px;
            background-position: center;
            background-size: 24px;
            margin-right: 20px;
            position: relative;
            top: 4px;

            @media (max-width: 414px) {
              display: none;
            }
          }
        }
      }
    }

    .nav--tab {
      overflow-x: scroll !important;
      overflow-y: hidden !important;
      white-space: nowrap;
      padding: 5px 0;
      height: 90px;

      ul {
        text-align: justify;
        list-style-type: none;
        padding: 0;
      }
    }
  }
}

          padding: 30px 0;
        }

        h5 {
          &::before {
            content: '';
            display: inline-block;
            height: 24px;
            width: 24px;
            background-position: center;
            background-size: 24px;
            margin-right: 20px;
            position: relative;
            top: 4px;

            @media (max-width: 414px) {
              display: none;

            }
          }
        }
      }
    }

    .nav--tab {
      overflow-x: scroll !important;
      overflow-y: hidden !important;
      white-space: nowrap;
      padding: 5px 0;
      height: 90px;

      ul {
        text-align: justify;
        list-style-type: none;
        padding: 0;
      }
    }
  }
}